# Ignore Python virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variable file
.env

# Ignore OS or editor-specific files
.DS_Store
*.swp

# Ignore local logs or test output
*.log

# Ignore Flask debug data
instance/

